# TODO: probably want to run as sandbox user. TBD schedule -- below is every 1 minute which is for testing only
* * * * * root /usr/bin/flock -w 0 /tmp/generate_predictions.lock /usr/bin/judging/bootstrap.sh >> /var/log/generate_predictions.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job
